@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

body {
    background-color: #c5ebd6;
}

p {
    padding: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
    font-size: 1.1em;
}

:root {
     --cor01: #ebe5c5;
     --cor02: #83e1ad;
     --cor03: #3ddc84;
     --cor04: #2fa866;
     --cor05: #1a5c37;
     --cor06: #063d1e;
     --fonte-destaque: "Bebas Neue", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

main a::after {
    content: '\00A0\1F517';
}

div#principal {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    min-height: 150px;
    padding: 10px;
    box-shadow: 0px 5px 12px 6px rgba(0, 0, 0, 0.39)
    
}


div#principal > h2 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.37);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    max-width: 500px;
    font-size: 15px;
    font-size: 17px;
}

div#principal > h1 {
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.8em;
    text-shadow: 2px 2px 7px black;
    font-size: 3em;
    font-family: var(--fonte-destaque)

}

div#principal > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 11px;
    border-radius: 10px;
}

div#principal > a:hover {
    background-color: #2fa866;
    color: var(--cor06);
    transition-duration: 0.5s;
}

div#principal > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 11px;
    border-radius: 10px;
}

div > h1 {
    font-family: var(--fonte-destaque)
}

div.video {
    background-color: #1a5c37;
    padding: 20px;
    margin: 0px 20px 20px 20px;
    position: relative;
    padding-bottom: 52.2%;
    border-radius: 5px;
    box-shadow: 7px 7px 18px 0px rgba(0, 0, 0, 0.432);
}

div.video > iframe {
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 4%;
    width: 92%;
    height: 90%;

}

main > h1 {
    font-family: idroid;
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor06);
    padding: 10px;
}

main {
    background-color: white;
    margin: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.527);
    max-width: 800px;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 20px;
}

main img {
    width: 100%;
}


main > img.bugdroid {
    max-width: 400px;
    margin: auto;
    display: block;
}

main  strong {
    color: rgb(14, 110, 14);
    font-weight: bold;
    text-decoration: none;
}

main a.hypertext {
    color: rgb(8, 71, 8);
    background-color: #3ddc84;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px;
}

main a.hypertext:hover {
    text-decoration: underline;
}

main > h2.subtexto {
    font-family: idroid;
    font-weight: normal;
    font-size: 19px;
    text-indent: 8px;
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor04), transparent);
}

aside {
    background-color: #83e1ad;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 5px 11px 0px rgba(0, 0, 0, 0.24);
}

aside > h3{
    background-color: #1a5c37;
    color: white;
    margin: -20px -20px 0px -20px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    color: white;
    margin-top: 45px;
    padding: 5px;
    background-color: #063d1e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



